version 4
[ ] it should have a function to toggle a todo.

version 3
[x] we should initialise the todos variable with objects.
[x] the add function should add objects.
[x] the edit function should edit objects.

version 2
[x] it should have a function to add a todo
[x] it should have a function to edit a todo
[x] it should have a function to remove a todo

version 1
[x] it should have a place to store todos
[x] it should have a way to display todos
[x] it should have a way to add a todo
[x] it should have a way to edit a todo
[x] it should have a way to remove a todo